@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Outfit", sans-serif;

}




body {
    background: #CED3DC;

}



.container {
    height: 100vh;
    display: grid;
    justify-content: center;
    grid-template-areas:
        " head"
        " logo "
        " proyect"
        " footer";
    grid-template-rows: 60px 50px auto 30px;


}



.header {
    grid-area: head;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.container .logo-container {
    display: grid;
    width: 0 auto;

    height: 30px;
}

.proyect-container {
    display: flex;
    grid-area: proyect;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}


.proyect-item button {
    border-radius: 10px;
    margin: 10px;
}

.proyect-item button a {
    font-size: 40px;

}



.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
}

img {
    width: 0 auto;
    height: 350px;
    grid-area: img;

}


.logo-container {
    grid-area: logo;
}






.button-48 {
    appearance: none;
    background-color: #FFFFFF;
    border-width: 0;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: Clarkson, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0;
    opacity: 1;
    outline: 0;
    padding: 1.5em 2.2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

.button-48:before {
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    background-color: #EBEBEB;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
}

.button-48:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
    background-color: #FFFFFF;
}

.button-48 span {
    z-index: 1;
    position: relative;
}