* {

    padding: 0;
    margin: 0;


}


body {
    height: 100%;
    display: grid;
    padding: 30px;
    font-size: 50px;
    width: 70%;
    margin: 0 auto;
    display: inline-flexbox;
}

h1 {
    display: grid;
    border-radius: 20px;
    background-color: #02010A;
    color: rgb(255, 255, 255);

}

body .display {
    display: grid;
    justify-content: center;
}

body .buttons {
    display: grid;
    place-content: center;
    margin-top: 50px;
    grid-template-columns: 100px 100px 100px;

}

button {
    font-size: 40px;
    width: 70px;
}