<header class="flex flex-row border-b-[1px]">
    <div class="flex w-auto">
        <span>sobre mi</span>
        <p>
            Soy un desarrollador de software con experiencia en el desarrollo de
            aplicaciones web y móviles. Me apasiona la tecnología y la
            programación, siempre estoy buscando aprender cosas nuevas y mejorar
            mis habilidades. Me considero una persona autodidacta, responsable y
            comprometida con mi trabajo.
        </p>
    </div>

    <div class="flex items-center m-5">
        <div
            class="flex p-1 border-[3px] hover:border-white border-gray-400 rounded-full"
        >
            <img src="assets/Profile.png" class="w-20 rounded-full" />
        </div>
        <div class="flex flex-col items-center justify-center m-5">
            <h1 class=""><strong>Hadith Campos</strong></h1>
            <h2 class="text-gray-400">Software Engineer</h2>
        </div>
    </div>
</header>
